.card-spot {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    width: 20vw;
    height: 25vw;
    min-width: 260px;
    min-height: 260px;
    max-width: 300px;
    max-height: 360px;
    z-index: -111;
}


.card-spot-link {
    text-decoration: none;
}

.card-spot-location {
    color: black;
}

.card-spot-image {
    border-radius: 11px;
}

/* .main {
    flex: 1 1;
} */

.main-content-parent-container {
    width: 90vw;
    margin: 0 auto;
    flex: 1 1;
    /* height: fit-content; */
}

.main-content-container {

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    /* border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    row-gap: 10px; */
}
