.card-spot {
    /* display: flex; */
    padding: 0;
}

.main-content-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    box-sizing: border-box;
}
