.booking-errors {
    color: red;
    font-weight: 500;
}

.spot-details-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 20vw;
    min-width: 1000px;
    max-width: 1300px;
    /* height: 25vw; */
    /* min-height: 760px; */
    /* max-height: 1160px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spot-details-container {
    display: flex;
    justify-content: space-between;
}

.star-rating-location {
    font-size: 14px;
}

.spot-links-container {
    margin-right: .8rem;
}

.delete-spot-button,
.edit-spot-button {
    /* background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%); */
    border: 1px solid black;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: #FF5A5F; */
    cursor: pointer;
    padding: .5rem;
    color: black;
    /* opacity: .95; */
}

.delete-spot-button:hover,
.edit-spot-button:hover {
    background-color: rgb(230, 30, 77);
    border: 1px solid rgb(230, 30, 77) ;
    color: white;
}


.delete-spot-button {
    margin-left: .5rem;
}


.rating-number {
    color: #222222;
    /* font-size: 1rem; */
    font-weight: 600;
}

.spot-images-container {
    /* height: 1000px; */
    --gap: 10px;
    --num-cols: 4;
    --row-height: 240px;
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    padding-top: .9rem;
}

.spot-images-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.key0 {
    grid-column: span 2;
    grid-row: span 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.key2 {
    border-top-right-radius: 10px;
}

.key4 {
    border-bottom-right-radius: 10px;
}

.spot-title {
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 540;
}

.spot-details-header-container {
    margin-left: 1rem;
}

.spot-details-subtitle-description-container {
    box-sizing: border-box;
    display: flex;
    /* width: 600px; */
    /* width: 57%; */
    /* width: 80%; */
    justify-content: space-between;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    padding: .75rem;
    position: relative;
    padding-bottom: 1rem;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column; */
}

.subtitle-container {
    flex-grow: 1;
}

.price-card-container {
    box-sizing: border-box;
    position: sticky;
    top: 130px;
    /* left: 640px; */
    /* bottom: 1px; */
    /* display: flex; */
    /* box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
    width: 20vw;
    height: 15vw; */
    height: fit-content;
}

.price-card {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* position: relative; */
    padding: 1.5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    width: 300px;
    /* height: 210px; */
}

.price-per-night-text {
    font-size: 22px;
    font-weight: 500;
}

.night-text {
    font-size: 16px;
    font-weight: 320;
}

.price-reviews-container {
    display: flex;
    justify-content: space-between;
}

.price-card-reviews-container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.bookings-form {
    height: 130px;
}

.price-night-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.service-fee-container {
    display: flex;
    justify-content: space-between;
}

.price-night-container,
.service-fee-container {
    color: #222222;
    font-weight: 320;
}

.price-card-line {
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.total-cost-container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.description-container {
    padding: 1.5rem 0;
    line-height: 1.4rem;
    color: #222222;
    border-top: 1px solid #ddd;
    width: 85%;
}

.description-content {
    width: fit-content;
}

.subtitle-container {
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 19px;
    padding-top: 10px;
}

.subtitle {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.review-click {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.reviews-container {
    margin-bottom: 5rem;
}

.bookings-form-container {
    display: flex;
    flex-direction: column;
}

.booking-button {
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    color: white;
    border-radius: 7px;
    cursor: pointer;
    padding: .9rem;
    border: none;
    margin: 10px 0 18px 0;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
