.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 40px;
    margin-left: 40px; */
    margin-top: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%;
    padding-bottom: 8px;
}

.fa-solid {
    width: 100px;
    height: 20%;
}

.fa-circle-user {
    width: 100px;
}

.profile-button-container {
    margin-bottom: 10px;
    margin-right: 20px;
}

.profile-button {
    border: 1px solid #717171;
    border-radius: 21px;
    display: inline;
    padding: 5px 5px 5px 12px;
    /* position: relative; */
}

.sign-in-container {
    display: flex;
}

.profile-icon {
    color: #717171;
}

.three-lines-icon {
    color: #717171;
    margin-top: 5px;
    margin-right: 5px;
}

.logo {
    color: #FF5A5F;
}

.main-logo {
    margin-left: 20px;
}

/* .profile-icon {
    padding-right: 20px;
} */

.main-dropdown-container {
    /* margin-top: 15px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    z-index: 0;
    width: 10vh;
    height: auto; */
    /* min-height: 20px; */
    /* position: relative; */
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    /* border: 1px solid red; */
    /* margin-right: 40px; */
    width: 200px;
    position: absolute;
    right: 0;
    top: calc(100 + .25rem);
    background-color: white;
    padding: 5px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
    /* opacity: 0; */
    /* transform: translateY(-10px);
    transition: opacity 150ms ease-in-out; */
    display: flex;
    flex-direction: column;
}

/* .dropdown > .profile-button:focus + .dropdown-menu {
    opacity: 1;
} */

.off {
    width: 10px;
    position: absolute;
    right: 0;
    top: calc(100 + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0 , 1);
}

li {
    list-style: none;
    /* border: 1px solid red; */
}
