.navigation-main {
    margin-top: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    /* border: 1px solid red; */
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 40px;
    margin-left: 40px; */
    margin-top: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 105%;
    padding-bottom: 8px;
}

.fa-solid {
    width: 100px;
    height: 20%;
}

.fa-circle-user {
    width: 100px;

}

.profile-button-container {
    min-width: 250px;
    min-height: 20px;
    width: 20vw;
    margin-bottom: 10px;
    margin-right: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    position: relative;
    right: .5rem;
}

.profile-button {
    width: 77px;
    height: 42px;
    /* border: 1px solid #717171; */
    border: 1.75px solid rgb(219, 214, 214);
    border-radius: 21px;
    display: inline;
    padding: 5px 5px 5px 12px;
    /* position: relative; */
    background-color: white;
}

.sign-in-container {
    display: flex;
}

.profile-icon {
    color: #717171;
}

.three-lines-icon {
    color: #717171;
    margin-top: 5px;
    margin-right: 5px;
}

.logo-container {
    /* border: 1px solid red; */
    min-width: 250px;
    min-height: 20px;
    width: 20vw;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.logo {
    color: #FF5A5F;
}

.main-logo {
    /* display: block; */
    margin-left: 20px;
    /* min-width: 250px;
    min-height: 20px;
    width: 10vw;
    margin-bottom: 10px; */
}

/* .profile-icon {
    padding-right: 20px;
} */

.main-dropdown-container {
    /* margin-top: 15px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    z-index: 0;
    width: 10vh;
    height: auto; */
    /* min-height: 20px; */
    /* position: relative; */
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    /* border: 1px solid red; */
    /* margin-right: 40px; */
    width: 200px;
    position: absolute;
    right: 70;
    top: calc(100 + .25rem);
    background-color: white;
    padding: 5px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2);
    /* opacity: 0; */
    /* transform: translateY(-10px);
    transition: opacity 150ms ease-in-out; */
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/* .dropdown > .profile-button:focus + .dropdown-menu {
    opacity: 1;
} */

.off {
    width: 10px;
    position: absolute;
    right: 0;
    top: calc(100 + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0 , 1);
}

li {
    list-style: none;
    /* border: 1px solid red; */
}


.logout {
    width: 210px;
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 14px;
    position: relative;
    margin-top: -5px;
}

.create-a-spot {
    width: 205px;
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    position: relative;
    margin-top: -5px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.your-reviews {
    width: 206px;
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    position: relative;

    margin-top: -5px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.your-spots {
    width: 207px;
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    position: relative;
    margin-top: -5px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-email {
    width: 210px;
    display: flex;
    background-color: white;
    border: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    position: relative;
    margin-top: -5px;
    margin-bottom: 5px;
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logout:hover,
.create-a-spot:hover,
.your-spots:hover,
.your-reviews:hover {
    background-color: rgb(235, 235, 235);
}
